* {
  box-sizing: border-box;
}
.expanded {
  opacity: 0;
  height: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0;
  font-family: 'Josefin Sans';
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.2;
}
.large-hero {
  position: relative;
}
.proj a {
  font-size: 12px;
  padding-bottom: 10px;
}
#active {
  opacity: 1;
  transition: opacity 1s 0.5s;
}
.projects {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.proj {
  width: 100%;
  display: flex;
  height: 30%;
  margin-bottom: 20px;
}
.proj p {
  width: 90%;
}
#active {
  transition: 1s;
  z-index: 1;
}
.appTitle,
.prayerTitle,
.dbgTitle {
  text-align: left;
  margin: 0;
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin-left: 10px;
}
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}
#active figcaption {
  background-color: rgba(52, 71, 75, 0.835);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  opacity: 1;
}
.appPic,
.prayerPic,
.dbgPic {
  padding-bottom: 10px;
  width: 100px;
  height: 100px;
  filter: unset;
  align-content: center;
}
.appPic:hover,
.prayerPic:hover,
.dbgPic:hover {
  width: 102px;
  height: 102px;
  opacity: 0.8;

}
.proj:hover {
  /* background-color: rgba(232, 232, 232, 0.338); */
}

figure {
  display: flex;
  position: relative;
  border-radius: 20px;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
}

figcaption {
  width: 100%;
  position: absolute;
  top: 0;
  padding-bottom: 10px;
  opacity: 0;
  transition: opacity 1s 0.5s;
}
figcaption p {
  margin-right: 2px;
  font-size: 13px;
  opacity: 1;
}
figure img {
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.938);
}
figcaption p {
  overflow: inherit;
  padding-right: 10px;
  padding-left: 10px;

}
figcaption h2 {
  opacity: 1;
  background-color: rgba(150, 180, 243, 0.685);
}
.bible-description {
  margin: 0;
  padding: 0;
}
.dbgDesc,
.bibleDesc,
.bible-tech,
.prayer-description,
.prayer-tech {
  width: 100%;
  padding: 0;
  overflow: unset;
  margin: 0;
  height: 20%;
  text-align: start;
}
.bibleDesc,
.dbgDesc,
.prayerDesc {
  height: 80%;
}
.dbgDesc,
.prayer-description {
  display: flex;
  line-height: 1.7;
}
.prayerTech,
.techUsed {
  padding-left: 0;
}
main {
  position: relative;
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
}
h1 {
  width: 50%;
  font-size: 48px;
}
h2 {
  text-shadow: 1pt 2pt #444;
  margin-top: 10px;
  width: 100%;
}
footer {
  padding-top: 10px;
  position: fixed;
  width: 100%;
  background-color: #40b3f148;
  bottom: 0;
  height: 2.5rem;
}
header > p {
  width: 50%;
  display: contents;
  height: 90%;
}
.prayerDesc {
  margin: 0;
  padding: 0;
}
header {
  background: linear-gradient(
    180deg,
    rgba(0, 187, 255, 0.591),
    rgba(193, 239, 247, 0.31)
  );
  align-items: center;
  align-content: center;
  display: flex;
  box-shadow: 0 1px 9px 0 rgba(255, 255, 255, 0.938);
  font-family: 'Montserrat';
}
.button-toggle {
  align-content: center;
  margin: 20px auto;
  max-width: 1100px;
}
.hero {
  position: absolute;
  color: #ffffff;
  border-radius: 20px;
  opacity: 0;
}
.profile-text {
  max-width: 500px;
  height: 90%;
  line-height: 1.5;
}
.profile-hero {
  height: 600px;
  margin: auto;
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 0 12px 28px 0 rgba(15, 56, 167, 0.671);
}
.toggle-section {
  padding: 0;
  align-items: center;
  height: 40px;
  font-family: 'Montserrat';
}
.hero h2 {
  margin: 0;
  visibility: hidden;
}
.hero p {
  margin: 0 auto;
  text-align: start;
  line-height: 1.5;
}
.projects-hero {
  height: 650px;
  margin: auto;
  margin-bottom: 50px;
}
.project-text {
  padding: 10px;
}
.contact-hero {
  height: 600px;
  margin: auto;
  margin-bottom: 50px;
}
li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 30px;
  width: 32%;
  font-size: 20px;
}
li:hover {
  cursor: pointer;
  color: #040404;
  opacity: 0.7;
  text-shadow: 1px 2px #39393a;
  transition-duration: 1s;
}
a {
  color: #1626ff;
  text-shadow: 0.5px 0.5px #d2d2fc9f;
  text-align: left;
}
.repo a:hover {
  cursor: pointer;
  color: #75f11c;
  opacity: 0.7;
  text-shadow: 0.5px 0.5px #39393a;
  transition-duration: 0.7s;
  margin: 0;
}
.fa {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60px;
  text-decoration-line: none;
  margin-left: 20px;
  background-color: #ffffff00;
  border-radius: 50px;
  font-size: 24px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-envelope {
  background: #dd4b39;
  color: white;
  width: 60px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  width: 60px;
}
.fa-github {
  background: #2c4762;
  color: white;
  width: 60px;
}
@media screen and (min-width: 650px) {
  .hero:hover {
    cursor: pointer;
  }
  body {
    line-height: 1.5;
  }
  #active {
    cursor: default;
  }
  .projects-hero:hover {
    opacity: 0.9;
    box-shadow: 0 12px 28px 0 rgba(196, 148, 65, 0.993);
    transition-duration: 1s;
  }
  .profile-hero:hover {
    opacity: 0.7;
    box-shadow: 0 12px 28px 0 rgba(15, 56, 167, 0.91);
    transition-duration: 1s;
  }
  .contact-hero:hover {
    opacity: 0.7;
    box-shadow: 0 12px 28px 0 rgba(41, 20, 8, 0.98);
    transition-duration: 1s;
  }
  li {
    visibility: collapse;
  }
  .toggle-section {
    font-size: 24px;
    justify-content: space-around;
  }
  .large-hero {
    position: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .left-section {
    width: 30%;
  }
  .right-section {
    width: 65%;
  }
  .hero {
    opacity: 1;
    position: unset;
    width: 50%;
    max-width: 23%;
    margin: 0 0 50px 0;
    transition: 1s;
  }
  #title {
    opacity: 1;
    transition: unset;
  }
  .hero h2 {
    visibility: unset;
  }
  .projects {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .proj {
    text-align: start;
    height: 27%;
  }
  .right-section,
  .left-section {
    margin-bottom: 20px;
  }
  figcaption {
    width: 100%;
    position: absolute;
    top: 0;
    padding-bottom: 10px;
    opacity: 1;
    transition: opacity 1s 0.5s;
  }
  figcaption p,
  figcaption div {
    opacity: 0;
  }
  #active figcaption div {
    transition: .25s 0.25s;
    opacity: 1;
  }
  #active figcaption div:hover {
    /* transition: .5s; */
    opacity: .9;
  }
  #active figcaption p {
    opacity: 1;
  }
  #active {
    max-width: 50%;
  }
  figcaption p{
    padding-top: 10px;
    font-size: 16px;
  }
  .projects-hero {
    opacity: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 600px;
    box-shadow: 0 12px 28px 0 rgba(196, 148, 65, 0.645);
    z-index: 1;
  }
  .contact-hero {
    opacity: 1;
    padding: 0;
    box-shadow: 0 12px 28px 0 rgba(70, 37, 19, 0.678);
    z-index: 1;
  }
  /* .appPic:hover,
.prayerPic:hover,
.dbgPic:hover {
  width: 102px;
  height: 102px;
  opacity: 0.8;

} */
}
